.user-dashboard-wrapper {
  width: 100vw;
  height: 100vh;
  background: url(../../../assets/mobile-dashboard.jpg) no-repeat center center
    fixed;
  background-size: cover;
  .container {
    position: absolute;
    bottom: 20px;
  }
}

.upload-dialog {
  width: 70px !important;
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 163, 64);
  margin-left: 30px;
  border-radius: 10px;
}
