.text-box-wrapper {
  flex-direction: column;

  input {
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }
}
