.nav-wrapper{
    background-color:#062938;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    .avatar-wrapper{
        background-color: rgb(234, 234, 234);
        display: inline-block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}