@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
font-family: "Poppins", sans-serif !important;
}

.error{
    color: red;
    font-size: 14px !important;
}